* {
    font-family: Arial, serif;
}

#map {
    height: 350px;
    width: 500px;
}

form {
    display: flex;
    justify-content: start;
    align-items: center;
}
select {
    height: fit-content;
    border: none;
    padding: 0 3px;
    color: blue;
}
h2, select {
    font-size: 26px;
    font-weight: bold;
}
.relative {
    position: relative;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.relative > * {
    position: absolute;
    height: 500px;
    width: 500px;
}

/* start style on best performing employee */

.best-performing-employee h2 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: cornflowerblue;
}

.jane-peacock {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.jane-peacock img {
    width: 100px;
    height: 100px;
}

.jane-peacock h3 {
    font-size: 30px;
}

.jane-peacock p {
    font-size: 20px;
}

.jane-text {
    position: relative;
    top: 15px;
    padding: 0 30px;
}

.margaret-park {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.margaret-park img {
    width: 95px;
    height: 95px;
}

.margaret-park h3 {
    font-size: 30px;
}

.margaret-park p {
    font-size: 20px;
}

.margaret-text {
    position: relative;
    top: 15px;
    padding: 0 30px;
}

.steve-johnson {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.steve-johnson img {
    width: 95px;
    height: 95px;
}

.steve-johnson h3 {
    font-size: 30px;
}

.steve-johnson p {
    font-size: 20px;
}

.steve-text {
    position: relative;
    top: 15px;
    padding: 0 30px;
}

/* End */

/* Next content */

/*#best-performing-employee {*/
/*    & h2 {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        font-size: 45px;*/
/*        color: cornflowerblue;*/
/*    }*/

/*    & div {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        gap: 30px;*/
/*        padding: 20px;*/
/*    }*/

/*    & img {*/
/*        width: 100px;*/
/*        height: 100px;*/
/*    }*/

/*    & h3 {*/
/*        font-size: 30px;*/
/*    }*/

/*    & p {*/
/*        font-size: 20px;*/
/*        position: relative;*/
/*        top: 15px;*/
/*        padding: 0 30px;*/
/*    }*/
/*}*/