/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



/* BASICS */
* {
    font-family: Arial, serif;
}

#map {
    height: 350px;
    width: 500px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 50px;
    color: lightskyblue;
}

form {
    display: flex;
    justify-content: start;
    align-items: center;
}
select {
    height: fit-content;
    border: none;
    padding: 0 3px;
    color: blue;
}
h2, select {
    font-size: 26px;
    font-weight: bold;
}
.relative {
    position: relative;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.relative > * {
    position: absolute;
    height: 500px;
    width: 500px;
}

/* start style on best performing employee */
#best-performing-employee {
    & h2 {
        display: flex;
        justify-content: center;
        font-size: 45px;
        color: cornflowerblue;
        margin-bottom: 0;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 20px;
    }

    & img {
        width: 100px;
        height: 100px;
    }

    & h3 {
        font-size: 30px;
        width: 250px;
        text-align: center;
    }

    & p {
        font-size: 25px;
        position: relative;
        top: 15px;
        padding: 0 30px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
/* End */

/* Next content */